:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  // background: #f1f1f1;
  border-radius: 8px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.swap-ui {
  display: flex;
  width: 720px;
  flex-direction: column;
  align-items: center;

  // background: #f1f1f1;
  border-radius: 8px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-row {
  flex: 0 0 100%;
  display: flex;
}

.token-row {
  height: 72px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .token-amount-input {
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    margin-left: 10px;
    margin-right: 15px;
    width: 100%;
    border: none;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance:textfield;

    &:focus {
      outline: none !important;
      border-color: #EEEEEE;
   }
  }

  .token-symbol-contanier {
    margin-right: 12px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-left: 0.5rem;
    padding-right: 0.6rem;

    cursor: pointer;
    &:hover {
      background: #F7F7F7;
    }

    .token-symbol-left {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      margin-right: 0.6rem;

      .token-icon {
        width: 36px;
        height: 36px;
        margin-right: 0.6rem;
      }

      .token-symbol {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 38px;
        color: #000000;
      }
    }

    .token-symbol-down {
      font-size: 18px;
    }
  }
}

.token-row-disabled {
  background: #F7F7F7;

  input:disabled {
    background: #F7F7F7;
  }

  .token-symbol-contanier {
    background: #F7F7F7;
    box-shadow: none;
    cursor: default;
  }
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 24px;
  margin-bottom: 0px;

  .swft-link {
    padding-left: 0.5em;
    font-weight: normal;
  }

  .account {
    display: flex;
    max-width: 15em;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    align-items: center;

    img {
      margin-bottom: 1px;
    }
    .wallet-name {
      width: 18px;
      height: 18px;
      margin-right: 0.3em;
    }
  }
}

.content {
  margin-top: 0px;
  padding-top: 0px;
  margin: 24px;
  padding: 24px;
  min-height: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  .to-label {
    margin-top: 1.5em;
  }
}

.from-label-row {
  justify-content: space-between;
}

.input-label {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}

.form-control {
  height: 40px;
}

.selected-asset {
  .asset-name {
    display: inline-block;
    min-width: 6.5em;
  }

  .asset-icon {
    margin-right: 0.5em;
    width: 24px;
    height: 24px;
  }
}

.swap-to-token-dropdown-toggle::after {
  border-top: 0;
}

.asset-list {
  min-width: 10em;
  max-height: 300px;
  overflow-y: auto;
  .dropdown-item {
    padding: 0.4em 1em;
  }

  .asset-icon {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
  }
}

.div-mainnet-address-container {
  margin-top: 2em;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .lbl-mainnet {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
  }

  .div-get-wallet-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .span-get-wallet {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: #666666;
    }

    .a-wallet-link {
      margin-left: 0.25rem;
      margin-right: 0.05rem;
      text-decoration: underline;
    }
  }
}

.to-address {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding-left: 0;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-connect {
  margin-top: 1em;
  width: 100%;
  color: white;
  border-color: #ff8d00;
  background: #ff8d00;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.footer {
  .footer-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 100%;
    padding: 1em;
    padding-top: 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    margin-left: 5px;

    .markets {
      display: flex;
      flex-direction: row;
      margin-left: 1em;
      justify-content: space-between;
      flex-grow: 1;

      .market {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4)
            brightness(1);
        }

        .market-icon {
          width: 36px;
          height: 36px;
        }

        .market-name {
          color: black;
          font-size: 10px;
          line-height: 12px;
          font-weight: normal;
          margin-top: 0.3em;

          &:link {
            text-decoration: none;
          }
        }
      }
    }
  }
}

.receiving-info {
  flex-direction: column;

  .price-info {
    margin-top: 1em;
    font-size: 14px;
    line-height: 19px;

    .btn-swith-price {
      margin-top: 0.4em;
      font-size: 11px;
      cursor: pointer;
    }

    &.fee-info {
      margin-top: 0;
    }

    .price-label {
      color: #000;
      margin-right: 0.2em;
    }
    .price {
      display: inline-flex;
      min-width: 6em;
      margin-left: 0.2em;
      color: #ff8d00;
      margin-right: 0.5em;
    }
  }
}

.loading {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("/assets/spinner-1s.svg");
  background-size: cover;
}
