:host {
  width: 720px;
  display: flex;

  background: #f1f1f1;
  border-radius: 8px;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

.f-row {
  flex: 0 0 100%;
  display: flex;
}

.header {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  margin: 24px;
  margin-bottom: 0px;

  .swft-link {
    padding-left: 0.5em;
    font-weight: normal;
  }

  .account {
    display: flex;
    max-width: 15em;
    font-size: 18px;
    font-weight: normal;
    line-height: 25px;
    align-items: center;

    img {
      margin-bottom: 1px;
    }
    .wallet-name {
      width: 18px;
      height: 18px;
      margin-right: 0.3em;
    }
  }
}

.content {
  margin-top: 0px;
  padding-top: 0px;
  margin: 24px;
  padding: 24px;
  min-height: 300px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  .to-label {
    margin-top: 1em;
  }
}

.input-label {
  display: block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #666666;
}

.selected-asset {
  .asset-name {
    display: inline-block;
    min-width: 5.5em;
  }

  .asset-icon {
    margin-right: 0.5em;
    width: 24px;
    height: 24px;
  }
}

.asset-list {
  min-width: 10em;
  max-height: 300px;
  overflow-y: auto;
  .dropdown-item {
    padding: 0.4em 1em;
  }

  .asset-icon {
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
  }
}

.lbl-mainnet {
  margin-top: 2em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

.to-address {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  padding-left: 0;
  font-size: 14px;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn-connect {
  margin-top: 1.5em;
  width: 100%;
  background: white;
  color: #ff8d00;
  border-color: #ff8d00;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.footer {
  .footer-content {
    display: flex;
    flex: 0 0 100%;
    padding: 1em;
    padding-top: 0px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    .markets {
      display: flex;
      flex-direction: row;
      margin-left: 0.5em;
      margin-right: 1em;
      justify-content: space-around;
      flex-grow: 1;

      .market {
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover {
          filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4)
            brightness(1);
        }

        .market-icon {
          width: 36px;
          height: 36px;
        }

        .market-name {
          color: black;
          font-size: 10px;
          line-height: 12px;
          font-weight: normal;
          margin-top: 0.3em;

          &:link {
            text-decoration: none;
          }
        }
      }
    }
  }
}
