<div class="swap-ui">
  <div class="f-row hr">
    <div class="header">
      <div>Quickly Get CRU <a class="link-primary swft-link" href="https://www.swft.pro/" target="_blank">Powered By
          SWFT</a></div>
    </div>
  </div>
  <div class="f-row">
    <div class="content">
      <div class="f-row from-label-row">
        <label for="swap-from-amount" class="input-label">From</label>
        <label class="input-label network-hint">Currently Supports Ethereum,BSC,OKC networks.</label>
      </div>
      <div class="token-row">
        <input id="swap-from-amount" [formControl]="fromAmount" type="number" class="token-amount-input"
            aria-label="From Amount" placeholder="0" [class.is-invalid]="errors.fromAmount">
        <div class="token-symbol-contanier" (click)="showSelectTokenModal()">
          <div class="token-symbol-left">
            <img [src]="getImageUrl(selectedAsset)" class="token-icon">
            <span class="token-symbol"> {{selectedAsset?.symbol}}</span>
          </div>
          <span class="cru-fo-chevron-down token-symbol-down"></span>
        </div>
      </div>

      <label for="swap-to-amount" class="input-label to-label">To</label>
      <div class="token-row token-row-disabled">
        <input id="swap-to-amount" [disabled]="true" type="number" class="token-amount-input" aria-label="To Amount"
            placeholder="0" [value]='toAmount'>
        <div class="token-symbol-contanier">
          <div class="token-symbol-left">
            <img [src]="getImageUrl(cru)" class="token-icon">
            <span class="token-symbol"> {{cru.symbol}}</span>
          </div>
          <span class="cru-fo-chevron-down token-symbol-down" style="visibility:hidden"></span>
        </div>
      </div>

      <div class="div-mainnet-address-container">
        <span class="lbl-mainnet" for="cruAddress"> Crust Mainnet Address (Receiving CRU) </span>
        <div class="div-get-wallet-container">
          <span class="span-get-wallet" >Get a Crust Wallet</span>
          <a class="span-get-wallet a-wallet-link" href="https://chrome.google.com/webstore/detail/crust-wallet/jccapkebeeiajkkdemacblkjhhhboiek" target="_blank">here</a>
          <span class="span-get-wallet" >!</span>
        </div>
      </div>
      <div class="f-row receiving-info">
        <div class="f-row">
          <input type="text" class="form-control to-address" id="cruAddress" [formControl]="toAddress"
            aria-describedby="crust address" placeholder="Please enter the receiving address"
            [class.is-invalid]="errors.toAddress">
        </div>
        <div class="f-row price-info">
          <label class="price-label">Exchange Rate:</label>
          <label class="price" *ngIf="priceInfo && !showReversePrice">
            1 {{simplified(selectedAsset.symbol)}}={{priceInfo!.instantRate | number:'1.1-6' }} {{simplified(cru.symbol)}}
          </label>
          <label class="price" *ngIf="reversePriceInfo && showReversePrice">
            1 {{simplified(cru.symbol)}}={{reversePriceInfo!.instantRate | number:'1.1-6' }} {{simplified(selectedAsset.symbol)}}
          </label>
          <span class="cru-fo-repeat btn-swith-price" *ngIf="priceInfo && reversePriceInfo" (click)="togglePriceDirection()"></span>
          <label class="price" *ngIf="!priceInfo">
            <i class="loading" src="/assets/spinner-1s.svg"></i>
          </label>
        </div>
        <div class="f-row price-info fee-info">
          <label class="price-label">Fee:</label>
          <label class="price" *ngIf="priceInfo">{{priceInfo!.depositCoinFeeRate | percent:'1.1-6'}}（in
            {{simplified(selectedAsset.symbol)
            }}）</label>
          <label class="price" *ngIf="!priceInfo">
            <i class="loading" src="/assets/spinner-1s.svg"></i>
            （in {{simplified(selectedAsset.symbol) }}）</label>
          <label class="price-label">Receive Fee:</label>
          <label class="price" *ngIf="priceInfo">{{priceInfo!.receiveCoinFee | number:'1.1-6'}}（in
            {{simplified(cru.symbol)}}）</label>
          <label class="price" *ngIf="!priceInfo">
            <i class="loading" src="/assets/spinner-1s.svg"></i>
            （in {{simplified(cru.symbol)}}）</label>
        </div>
      </div>
      <button class="btn btn-primary btn-connect" *ngIf="!isConnected()" (click)="connectWallet()">
        Connect Wallet</button>
      <button class="btn btn-primary btn-connect" *ngIf="isConnected() && isNetworkSupported()" (click)="doSwap()"
        [disabled]="!this.priceInfo || swapInProgress">
        {{getSwapButtonText()}}
      </button>
      <button class="btn btn-primary btn-connect" *ngIf="isConnected() && !isNetworkSupported()" disabled>
        Wrong Network
      </button>

    </div>
  </div>
  <div class="f-row footer">
    <div class="footer-content">
      Trade on Markets:
      <div class="markets">
        <a class="market" *ngFor="let market of markets" [href]="market.url" target="_blank">
          <img class="market-icon" [src]="market.imageUrl">
          <span class="market-name">{{market.name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
