.account {
  display: flex;
  max-width: 15em;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  color: #333333;

  a.address {
    color: #333333;
    font-family: Open Sans;
  }
  .wallet-name {
    width: 28px;
    height: 28px;
  }
}

.actions-menu {
  z-index: 5000;
}

.wallet-wrapper {
  width: 48px;
  height: 48px;
  background: url("/assets/wallet-wrapper-bg.svg");
  background-size: cover;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}
