<div class="account">
  <span class="wallet-wrapper"> <img class="wallet-name" src="/assets/metamask.svg"> </span>
  <div ngbDropdown class="wallet-address">
    <a [routerLink]="" id="accountDropDownList" class="address" ngbDropdownToggle>{{getShortAddress()}}</a>
    <div ngbDropdownMenu aria-labelledby="accountDropDownList" class="actions-dropdown">
      <button ngbDropdownItem (click)="showOrderHistory()">Swap History</button>
      <button ngbDropdownItem (click)="logout()">Disconnect</button>
    </div>
  </div>
</div>
