<div class="modal-header">
  <h4 class="modal-title">Swap History</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="order-list-placeholder" *ngIf="orders.length === 0">
    Your swap history will appear here...
  </div>

  <table class="table table-striped table-borderless" *ngIf="orders.length > 0">
    <thead>
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">From Token</th>
        <th scope="col">To Token</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <th scope="row" [ngbTooltip]="order.orderId" container="body" placement="bottom">
          {{getShortOrderId(order.orderId)}}</th>
        <td>{{order.fromToken}}</td>
        <td>{{order.toToken}}</td>
        <td>{{order.amount | number:'1.1-6'}} {{order.fromToken}}</td>
        <td class="col-status">
          <img class="loading" *ngIf="!orderDetails[order.orderId]" src="/assets/spinner-dark.svg">
          <span class="order-status"
            *ngIf="orderDetails[order.orderId]">{{getOrderStatus(orderDetails[order.orderId])}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
